body {
    background-color: rgb(42, 167, 150);
}

div,
form {
    padding: 5px 20px;
    font-size: 20px;
}

.text-center {
    text-align: center;
}
.item-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    grid-column: 1/2;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0px;
}

.fakeform {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
}


@media screen and ( min-width: 800px) {
    #main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
 
    }
    .header {
        grid-column: 1/4;
    }
    .fakeform {
        
        grid-template-columns: 1fr 1fr;
        grid-column: 2/3;
        grid-gap: 20px 20px;
    }
    .span-two {
        grid-column: 1/3;
    }
    
    .goright{
        display: flex;
    align-items: right;
    justify-content: right;
    }
}

.full-width {
    width: 100%;
}
td{
    padding: 12px;
    text-align: center;
}
.tableDec{
background-color: aliceblue;
}
th:nth-child(odd){
    background-color: rgb(159, 148, 224);
}
tbody>tr:nth-child(odd){
    background-color: rgb(111, 233, 99);
}

